@model TBENesys_Orderflow_Core.ViewModels.ChargeToCCsHandlerViewModel

@{
    string ActionText = "";
    if (Model.lngID.HasValue)
    {
        ViewBag.Title = "Update Charge To CC - " + Model.MainContent;
        ActionText = "Update";
    }
    else
    {
        ViewBag.Title = "New Charge To CC";
        ActionText = "Save";
    }
}



@using (Html.BeginForm("ChargeToCCHandler", "Admin", FormMethod.Post, new { @class = "col-lg-12" }))
{
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <p class="card-description">
                </p>
                <form class="forms-sample">
                    <div class="form-group">
                        @if (@ViewBag.ResultMessage != null && @ViewBag.ResultMessage.ToString().Contains("Error"))
                        {
                            <div class="alert alert-danger">@ViewBag.ResultMessage</div>
                        }
                        else if (@ViewBag.ResultMessage != null)
                        {
                            <div class="alert alert-success">@ViewBag.ResultMessage</div>
                        }
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button class="close" data-dismiss="alert"></button>
                                @Html.ValidationSummary()
                            </div>
                        }
                        <div class="clear"></div>
                    </div>
                    @Html.HiddenFor(m => m.lngID)
                    <div class="form-group">
                        @Html.LabelFor(m => m.MainContent)
                        @Html.TextBoxFor(m => m.MainContent, new { @placeholder = "Cost Center", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SubContent2)
                        @Html.CheckBoxFor(m => m.SubContent2, new { @class = "form-check-input", @style= "margin-left: 12px; margin-top: unset;" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2"> @ActionText </button>
                    <a href="@Url.Action("ChargeToCCsListing")" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
    </script>
}
