@model TBENesys_Orderflow_Core.ViewModels.OrderUploadDocumentsViewModel

@{
    ViewData["Title"] = @Model.PageTitle;
}

@section styles{
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<style>

    .card-body {
        font-size: 15px;
    }

    .card-body a {
        font-size: 15px;
    }

    .card-body p {
        font-size: 15px;
    }
    .form-group label {
        font-size: 15px !important;
    }

</style>
}
@section Breadcrumbs{
    <h3 class="page-title">Upload Documents</h3>
    @*<nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=@Url.Action("Index", "Admin" )>Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page"> <a style="display:inline !important;" href=@Url.Action("AccountHandler", "Admin" )>New Account</a> </li>
            </ol>
        </nav>*@
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-title" style="font-size:13px;">
            @if (@ViewBag.ResultMessage != null && @ViewBag.ResultMessage.ToString().Contains("Error"))
            {
                <div class="alert alert-danger">@ViewBag.ResultMessage</div>
            }
            else if (@ViewBag.ResultMessage != null)
            {
                <div class="alert alert-success">@ViewBag.ResultMessage</div>
            }
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert"></button>
                    @Html.ValidationSummary()
                </div>
            }
            @if (Model.Response != null)
            {
                @Html.Partial("_MessagePartial", Model.Response)
            }
            <div class="clear"></div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("OrderUploadDocuments", "Order", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-lg-12", @id = "target" }))
            {
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.Label("Select File")
                        <input type="file" name="img[]" class="file-upload-default" id="UploadedFile" name="UploadedFile" />
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Document" />
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button"> Select </button>
                            </span>
                        </div>

                        <span style="color: red; font-size: 15px;">
                            File types allowed: ["pdf"]<br />Upload up to 15 files<br />
                            <b>Important Note: Job will be paginated in the order in which you upload your files, or you may re-sort the files after upload.</b>
                        </span>
                    </div>

                    <a href="@Url.Action("Index")" class="btn btn-success">Back to Order</a>
                </form>
            }
            <br />

            <span><b>Uploaded Documents</b></span><br />
            <span style="color: red; font-size: 14px;">Click on the up arrow to move the file upwards</span><br />
            <span style="color: red; font-size: 14px;">Click on the down arrow to move the file downwards</span><br />

            <table id="dtTable" class="display table table-hover" style="width:100%;">
                <tbody>
                    @if (Model.DLs != null && Model.DLs.Count > 0)
                    {
                        foreach (var item in Model.DLs)
                        {
                            <tr>
                                <td>
                                    <a style="color: red; font-size: 20px;" title="Move Up" href="@Url.Action("UpSequenceDocument" , new { id = item.Sequence })"><i class="mdi mdi-transfer-up"></i></a>
                                    <a style="color: red; font-size: 20px;" title="Move Down" href="@Url.Action("DownSequenceDocument" , new { id = item.Sequence })"><i class="mdi mdi-transfer-down"></i></a>
                                    @item.FileName
                                    <a style="color: red; font-size: 20px;" title="Delete" href="@Url.Action("DeleteDocument" , new { id = item.Sequence })"><i class="mdi mdi-delete-forever"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="1">No records found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="clear"></div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="~/assets/js/file-upload.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#UploadedFile').change(function () {
                var result = @Model.TotalDocuments;
                if (parseInt(result) < 15) {
                    $('#target').submit();
                }
                else {
                    alert("Documents upload limit of 15 reached.");
                }
            });
        });
    </script>
}

